body {
    background-color: #8aa8d5;
}

.card {
    border-radius: 12px;
}

h2 {
    color: #0d6efd;
    font-weight: bold;
}

table {
    background-color: white;
}

.btn {
    border-radius: 8px;
}
